body {
  padding: 20px;

  background-color: black;
  color:            cyan;
}

ol {
  list-style-type: none;
}

#login-buttons {
  float: right;
}

#queues {
  margin-top: 20px;

  .title {
    margin-top:    10px;
    margin-bottom: 20px;

    font-size: 200%;
    color:     white;
  }

  .deployTargetGroup {
    display: block;

    border-color:  magenta;
    border-radius: 7px;
    border-style:  solid;
    border-width:  1px;
    padding:       10px;
    margin-bottom: 10px;

    h3 {
      margin: 0px;
    }

    .deployTarget {
      display: inline-block;

      border-color:  cyan;
      border-radius: 7px;
      border-style:  solid;
      border-width:  1px;
      padding:       10px;
      margin:        5px;

      width: 22em;

      h4 {
        font-weight: normal;
      }

      .attrs {
        font-family: monospace;
        color:       magenta;

        li {
          min-height: 30px;
          vertical-align: top;
          span {
            vertical-align: top;
          }
        }

        .text-input {
          margin-bottom: 0px;
        }

        .attrVal {
          font-weight: bold;
        }
      }

      .controls {
        margin:  0px;
        padding: 0px;
        color:   yellow;
        cursor:  pointer;

        .delete {
          float: left;
        }

        .claimer {
          float: right;
        }
      }
    }

    .newDeployTarget {
      display:   inline-block;
      color:     yellow;
      font-size: 200%;
      cursor:    pointer;
    }
  }
}
